

@{
    ViewData["Title"] = "Login";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Set the user ID that you wish to get recommendations and track behaviours for.</p>
    <p>This is not an authentication system; it is simply a way of identifying and changing the user ID in order to drive the personalised aspects of the application.</p>
</div>