@model Recommendations.ViewModels.HomeCategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>The various categories</p>
</div>

@foreach (var category in Model.Categories)
{
    <p><a asp-action="Category" asp-controller="Home" asp-route-id="@category">@category</a></p>
}
