@model CatalogItemGroupViewModel

@{
    ViewData["Title"] = "Sportwear Shop";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>Showing all items in all categories</p>
    <p>Click an item to see details and recommendations</p>
</div>

@Html.Partial("_CatalogItems", new CatalogItemsPartialViewModel() { CatalogItems = Model.CatalogItems.ToList(), MaxVisible = Model.CatalogItems.Count(), ItemGridClass = "col-md-4" })

@Html.Partial("_Paging", Model.PagingPartialViewModel)
