@model BookRecommendations.ViewModels.HomeCategoriesViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>The various categories for skus</p>
</div>
